.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar {
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

.mt-4, .my-4 {
    margin-top: 2.4rem !important;
}

img {
    max-height: 50px;
    border: 1px solid white;
    display: inline;
} 



li {
    margin-bottom: 10px;
}

.navbar li a{
    display: inline-block;
    color: #000;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}



.navbar li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .4s;
}

.navbar li a:hover::after {
    width: 100%;
    transition: width .4s;
}
