.card:hover img{
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    -webkit-filter: brightness(40%);
	-moz-filter: brightness(40%);
	-o-filter: brightness(40%);
	-ms-filter: brightness(40%);
	filter: brightness(40%);
}

.card img{
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    width: 100%;
    height: 17vw;
    object-fit: cover;
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}


.recipe-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .recipe-icons{
    bottom: 40%;
    opacity: 1;
}

.animate {
    transition: all 0.7s ease-in-out;
}


.bg-opacity {
  /*#ffba00*/ 
  background: rgba(0, 0, 0, 0.6); 

}

.bg-mydark {
    /*#ffba00*/ 
  background: rgba(52,58,64, 0.7); 
  }

