<div class="container mt-4">
  <!-- Control the column width, and how they should appear on different devices -->
  

  <div class="row">
      <div class="col-sm-4 justify-content-center text-center"style="background-color:green;">
        <img src="{{user.photoUrl || '../../../assets/user.png'}}" class="img-fluid rounded-circle" alt="Responsive image">
      </div>

      <div class="col-sm-8" style="background-color:lightyellow;">
        <div class="row">
          <div class="col text-center" style="background-color:greenyellow;">{{user.username.toLocaleLowerCase()}}</div>
          <div class="col text-center" style="background-color:orangered;">Obserwuj</div>
          <div class="col text-center" style="background-color: burlywood;">
          <h2>
            <i class="fa fa-comment"></i>
          </h2>
          </div>
        </div>

        <div class="row">
          <div class="col text-center" style="background-color:red;">Posty:</div>
          <div class="col text-center" style="background-color:green;">Obserwujących:</div>
          <div class="col text-center" style="background-color:blue;">Obserwowani:</div>
          <div class="col text-center" style="background-color:pink;">Ostatnio aktywny/a: {{user.lastActive | timeAgo}}</div>
        </div>
        <p class="text-center">{{user.introduction}}</p>
      </div>
  </div>


    <br>
    <hr>
    <p class="text-center">User Recipes: </p>
    <div class="row recipes-body">
      <div *ngFor="let recipe of user.recipes" class="col-md-4 col-sm-6 mb-4">
        <app-member-recipe-card [recipe]="recipe"></app-member-recipe-card>
      </div>
    </div>

  </div>
