<div class="container mt-4" style="border: 1px solid black;">
  <!-- Control the column width, and how they should appear on different devices -->
  
  <div class="row" style="background-color:blue;">
    <div class="col">
      <h2 class="text-center">{{recipe.name}}</h2>
    </div>
  </div>
  
  
  <div class="row">
      <div class="col-sm-6" style="background-color:green;">
        <img src="{{recipe.photoUrl || '../../../../../../assets/image.png'}}" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-sm-6" style="background-color:gray;">
        <p>Czas przygotowania: {{recipe.preparationTime}}</p>
        <p>Składniki: {{recipe.ingredients}}</p>
        <p>Opis: {{recipe.description}}</p>
        <p>Data dodania: {{recipe.dateAdded}}</p>
        <p>Autor: </p>
    </div>
  </div>

  <p>Zdjęcia:</p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

</div>