<div class="row">
  <div class="col-sm-2" *ngFor="let recipe of recipes">
    <img src="{{recipe.photoUrl}}" class="img-thumbnail p-1" alt="">
    <div class="text-center">
      <button type="button" class="btn btn-sm btn-danger" 
      (click)="deleteRecipe(recipe.id)" 
       ><i class="fa fa-trash-o"></i></button>
       <button type="button" class="btn btn-sm btn-primary" 
       [routerLink]="['/recipe/edit/', recipe.id]" 
       ><i class="fa fa-pencil-square-o"></i></button>
    </div>
  </div>
</div>