<form #editForm="ngForm" id="editForm" (ngSubmit)="updateRecipe(recipe.id)" >
  <h5 class=" text-center mt-4">Description</h5>
  <textarea name="description"  cols=100% rows="6" class="form-contorl mt-2" 
    [(ngModel)]="recipe.description"></textarea>
    <h5 class=" text-center mt-2">Location Details:</h5>
    <div class="form-group mt-3">
      <label for="city">Name</label>
      <input class="form-control" type="text" name="name" [(ngModel)]="recipe.name">
    </div>
    <div class="form-group">
      <label for="country">Ingredients</label>
      <input class="form-control" type="text" name="country" [(ngModel)]="recipe.ingredients">
    </div>
</form>  

<button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save changes</button>